@model IEnumerable<MvcCacheRedis.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <img src="@item.Imagen" width="120" height="120" />
            </td>
            <td>
                <a asp-controller="Productos"
                asp-action="Details"
                asp-route-id="@item.IdProducto"
                class="btn btn-outline-info">
                Detalles</a>
                 <a asp-controller="Productos" 
                asp-action="SeleccionarFavorito" 
                asp-route-id="@item.IdProducto"
                 class="btn btn-outline-success">Agregar Fav</a>
            </td>
        </tr>
}
    </tbody>
</table>
